.resim {
  width: 100%;
  height: 100%;
  border: 3px solid black;
}
.resim:hover {
  -ms-transform: scale(1.3); 
  -webkit-transform: scale(1.3); 
  transform: scale(1.3);
}
.checked {
  color: orange;
}
